@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form > div {
  @apply bg-zinc-300 rounded-xl p-8;
}

input,
textarea {
  outline: none;
}

input[type="range"] {
  background-color: lightblue;
  accent-color: #5daeff;
  height: 4px;
  border-radius: none;
  width: 100%;
}
